{{ template "widget-base.html" . }}

{{ define "widget-content" }}
{{ if .Tasks }}
<table class="vikunja-table" data-widget-id="{{ .GetID }}">
    <thead>
        <tr>
            <th style="width: 40px;"></th>
            <th>Koniec za</th>
            <th>Treść zadania</th>
            <th>Etykiety</th>
            <th style="width: 40px;">
                <button class="vikunja-add-btn" title="Dodaj nowe zadanie" data-widget-id="{{ .GetID }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 16px; height: 16px;">
                        <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
                    </svg>
                </button>
            </th>
        </tr>
    </thead>
    <tbody>
        {{ range .Tasks }}
        <tr data-task-id="{{ .ID }}">
            <td>
                <input type="checkbox" class="vikunja-task-checkbox" title="Oznacz jako wykonane">
            </td>
            <td class="vikunja-time-left {{ if .IsOverdue }}overdue{{ end }}">
                {{ if .TimeLeft }}{{ .TimeLeft }}{{ else }}-{{ end }}
            </td>
            <td class="vikunja-title">
                <div class="vikunja-title-container">
                    <a href="{{ .TaskURL }}" target="_blank" rel="noopener noreferrer" class="task-title-link">{{ .Title }}</a>
                    {{ if .AffineNoteURL }}
                    <a href="{{ .AffineNoteURL }}" target="_blank" rel="noopener noreferrer" class="affine-note-link" title="{{ .AffineNoteTitle }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M4.5 2A1.5 1.5 0 003 3.5v13A1.5 1.5 0 004.5 18h11a1.5 1.5 0 001.5-1.5V7.621a1.5 1.5 0 00-.44-1.06l-4.12-4.122A1.5 1.5 0 0011.378 2H4.5zm2.25 8.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm0 3a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" clip-rule="evenodd" />
                        </svg>
                        <span class="affine-note-title">{{ if .AffineNoteTitle }}{{ .AffineNoteTitle }}{{ else }}Notatka{{ end }}</span>
                    </a>
                    {{ end }}
                    {{ if .CustomLinkURL }}
                    <a href="{{ .CustomLinkURL }}" target="_blank" rel="noopener noreferrer" class="custom-link" title="{{ if .CustomLinkTitle }}{{ .CustomLinkTitle }}{{ else }}Link zewnętrzny{{ end }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M12.232 4.232a2.5 2.5 0 0 1 3.536 3.536l-1.225 1.224a.75.75 0 0 0 1.061 1.06l1.224-1.224a4 4 0 0 0-5.656-5.656l-3 3a4 4 0 0 0 .225 5.865.75.75 0 0 0 .977-1.138 2.5 2.5 0 0 1-.142-3.667l3-3Z" />
                            <path d="M11.603 7.963a.75.75 0 0 0-.977 1.138 2.5 2.5 0 0 1 .142 3.667l-3 3a2.5 2.5 0 0 1-3.536-3.536l1.225-1.224a.75.75 0 0 0-1.061-1.06l-1.224 1.224a4 4 0 1 0 5.656 5.656l3-3a4 4 0 0 0-.225-5.865Z" />
                        </svg>
                        <span class="custom-link-title">{{ if .CustomLinkTitle }}{{ .CustomLinkTitle }}{{ else }}Link{{ end }}</span>
                    </a>
                    {{ end }}
                </div>
            </td>
            <td class="vikunja-labels">
                {{ if .Labels }}
                <div class="label-container">
                    {{ range .Labels }}
                    <span class="label" style="border-color: {{ .Color }}; color: {{ .Color }};" data-label-id="{{ .ID }}">{{ .Title }}</span>
                    {{ end }}
                </div>
                {{ else }}
                -
                {{ end }}
            </td>
            <td>
                <button class="vikunja-edit-btn" title="Edytuj zadanie" data-task-title="{{ .Title }}" data-task-due-date="{{ .DueDateStr }}" data-task-reminder-date="{{ .ReminderStr }}" data-affine-note-url="{{ .AffineNoteURL }}" data-custom-link-url="{{ .CustomLinkURL }}" data-custom-link-title="{{ .CustomLinkTitle }}">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 16px; height: 16px;">
                        <path d="m5.433 13.917 1.262-3.155A4 4 0 0 1 7.58 9.42l6.92-6.918a2.121 2.121 0 0 1 3 3l-6.92 6.918c-.383.383-.84.685-1.343.886l-3.154 1.262a.5.5 0 0 1-.65-.65Z" />
                        <path d="M3.5 5.75c0-.69.56-1.25 1.25-1.25H10A.75.75 0 0 0 10 3H4.75A2.75 2.75 0 0 0 2 5.75v9.5A2.75 2.75 0 0 0 4.75 18h9.5A2.75 2.75 0 0 0 17 15.25V10a.75.75 0 0 0-1.5 0v5.25c0 .69-.56 1.25-1.25 1.25h-9.5c-.69 0-1.25-.56-1.25-1.25v-9.5Z" />
                    </svg>
                </button>
            </td>
        </tr>
        {{ end }}
    </tbody>
</table>
<!-- Mobile add button - visible only on mobile when table header is hidden -->
<button class="vikunja-add-btn vikunja-add-btn-mobile" title="Dodaj nowe zadanie" data-widget-id="{{ .GetID }}">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 20px; height: 20px;">
        <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
    </svg>
</button>
{{ else }}
<div class="vikunja-empty-state">
    <p>Brak zadań do wykonania</p>
    <button class="vikunja-add-btn vikunja-add-btn-empty" title="Dodaj nowe zadanie" data-widget-id="{{ .GetID }}">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 16px; height: 16px;">
            <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z" />
        </svg>
        <span style="margin-left: 0.5rem;">Dodaj zadanie</span>
    </button>
</div>
{{ end }}

<!-- Modal do dodawania nowego zadania -->
<div id="vikunja-create-modal" class="vikunja-modal" style="display: none;">
    <div class="vikunja-modal-content">
        <div class="vikunja-modal-header">
            <h3 class="color: var(--color-primary);">Dodaj nowe zadanie</h3>
            <button class="vikunja-modal-close">&times;</button>
        </div>
        <div class="vikunja-modal-body">
            <div class="vikunja-form-group">
                <label for="vikunja-create-title">Tytuł zadania:</label>
                <input type="text" id="vikunja-create-title" class="vikunja-input" placeholder="Tytuł zadania">
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-create-due-date" style="color: var(--color-primary);">Termin:</label>
                <div class="vikunja-input-group flatpickr-wrapper">
                    <input type="text" id="vikunja-create-due-date" class="vikunja-input" placeholder="RRRR-MM-DD GG:MM" data-input>
                    <button type="button" class="vikunja-input-icon" title="Wybierz datę" data-toggle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 16px; height: 16px;">
                            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-create-project">Projekt:</label>
                <select id="vikunja-create-project" class="vikunja-input">
                    <option value="">Domyślny projekt</option>
                </select>
            </div>
            <div class="vikunja-form-group">
                <label>Etykiety:</label>
                <div id="vikunja-create-labels-container" class="vikunja-labels-selector">
                    <!-- Etykiety będą załadowane dynamicznie -->
                </div>
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-create-affine-url">Link do notatki Affine (opcjonalnie):</label>
                <input type="text" id="vikunja-create-affine-url" class="vikunja-input" placeholder="https://affine-url/workspace/...">
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-create-custom-link-url">Link zewnętrzny (opcjonalnie):</label>
                <input type="text" id="vikunja-create-custom-link-url" class="vikunja-input" placeholder="https://dowolny-link/...">
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-create-custom-link-title">Tytuł linku zewnętrznego (opcjonalnie):</label>
                <input type="text" id="vikunja-create-custom-link-title" class="vikunja-input" placeholder="Nazwa linku">
            </div>
        </div>
        <div class="vikunja-modal-footer">
            <button class="vikunja-btn vikunja-btn-cancel">Anuluj</button>
            <button class="vikunja-btn vikunja-btn-create">Utwórz</button>
        </div>
    </div>
</div>

<!-- Modal do edycji zadania -->
<div id="vikunja-edit-modal" class="vikunja-modal" style="display: none;">
    <div class="vikunja-modal-content">
        <div class="vikunja-modal-header">
            <h3>Edytuj zadanie</h3>
            <button class="vikunja-modal-close">&times;</button>
        </div>
        <div class="vikunja-modal-body">
            <div class="vikunja-form-group">
                <label for="vikunja-edit-title">Tytuł zadania:</label>
                <input type="text" id="vikunja-edit-title" class="vikunja-input" placeholder="Tytuł zadania">
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-edit-due-date">Termin:</label>
                <div class="vikunja-input-group flatpickr-wrapper">
                    <input type="text" id="vikunja-edit-due-date" class="vikunja-input" placeholder="RRRR-MM-DD GG:MM" data-input>
                    <button type="button" class="vikunja-input-icon" title="Wybierz datę" data-toggle>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" style="width: 16px; height: 16px;">
                            <path fill-rule="evenodd" d="M5.75 2a.75.75 0 01.75.75V4h7V2.75a.75.75 0 011.5 0V4h.25A2.75 2.75 0 0118 6.75v8.5A2.75 2.75 0 0115.25 18H4.75A2.75 2.75 0 012 15.25v-8.5A2.75 2.75 0 014.75 4H5V2.75A.75.75 0 015.75 2zm-1 5.5c-.69 0-1.25.56-1.25 1.25v6.5c0 .69.56 1.25 1.25 1.25h10.5c.69 0 1.25-.56 1.25-1.25v-6.5c0-.69-.56-1.25-1.25-1.25H4.75z" clip-rule="evenodd" />
                        </svg>
                    </button>
                </div>
            </div>
            <div class="vikunja-form-group">
                <label>Etykiety:</label>
                <div id="vikunja-labels-container" class="vikunja-labels-selector">
                    <!-- Etykiety będą załadowane dynamicznie -->
                </div>
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-edit-affine-url">Link do notatki Affine (opcjonalnie):</label>
                <input type="text" id="vikunja-edit-affine-url" class="vikunja-input" placeholder="https://affine-url/workspace/...">
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-edit-custom-link-url">Link zewnętrzny (opcjonalnie):</label>
                <input type="text" id="vikunja-edit-custom-link-url" class="vikunja-input" placeholder="https://dowolny-link/...">
            </div>
            <div class="vikunja-form-group">
                <label for="vikunja-edit-custom-link-title">Tytuł linku zewnętrznego (opcjonalnie):</label>
                <input type="text" id="vikunja-edit-custom-link-title" class="vikunja-input" placeholder="Nazwa linku">
            </div>
        </div>
        <div class="vikunja-modal-footer">
            <button class="vikunja-btn vikunja-btn-cancel">Anuluj</button>
            <button class="vikunja-btn vikunja-btn-save">Zapisz</button>
        </div>
    </div>
</div>

<!-- Audio element for task completion sound -->
<audio id="vikunja-completion-sound" preload="auto">
    <source src="{{ .GetSoundPath }}" type="audio/mpeg">
</audio>
{{ end }}

